@import "./reset";
@import "./var";

.wrapper {
  display: inline-block;
  width: 100%;
  .header {
    display: inline-block; //----!!important
    width: 100%; //----!!important
    height: 100px;
    .header__wrap {
      display: inline-block; //----!!important
      width: 100%;
    }
  }
  .main {
    display: inline-block; //----!!important
    width: 100%;
    .main__album {
      display: inline-block; //----!!important
      width: 100%;
            position: relative;
     .left__arrow {
        position: absolute;
        top: calc(50% - 50px);
        left: 0;
        width: 10%;
        float: left;
        height: 100px;
        img {
            width: 50px;
            height: 50px;
            margin-left: calc(50% - 25px);
            margin-top: 25px;
        }
      }
      .album__content {
        width: 100%;
        float: left;
        height: 500px;
        img {
            display: inline-block;
            width: 100%;
            height: 100%;
            background-position: center center;
        }
      }
      .right__arrow {
          position: absolute;
          top: calc(50% - 50px);
          right: 0;
          height: 100%;
        width: 10%;
        float: left;
        height: 100px;
        img {
            width: 50px;
            height: 50px;
            margin-left: calc(50% - 25px);
            margin-top: 25px;
        }
      }
      .album__navigation {
          display: inline-block;
          width: 100%;
          height: 40px;
          border: 2px solid black;
          background-color: rgba(165, 42, 42, 0.726);
          border-radius: 40px;
          margin: 4px 2px;
      }
    }
  }
  .footer {
    display: inline-block; //----!!important
    width: 100%;
    .footer__wrap {
      display: inline-block; //----!!important
      width: 100%;
    }
  }
}

.container {
  display: inline-block;
  width: 1200px;
  margin-left: calc(50% - 600px);
  @media only screen and (max-width: $tablet) {
    width: 98%;
    margin-left: 1%;
  }
}
